@font-face {
    font-family: FontPrimary;
    src: url(fonts/Alegreya-VariableFont_wght.ttf);
}
@font-face {
    font-family: FontSecondary;
    src: url(fonts/Jost-VariableFont_wght.ttf);
}
body {
    padding: 0;
    margin: 0;
    font-family: FontSecondary;    
    background-image: url(images/bg.jpg);
    background-size:auto;
}
hr {
    border: 1px solid #ffffff;
}
h1 {
    font-family: FontPrimary;
    font-size: 40px;
}
.main-navigation {
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;

    text-transform: uppercase;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
.main-navigation .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-navigation a {
    color: #000;
    text-decoration: none;
}
.main-navigation .nav_logo {
    margin-left: 40px;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    font-family: FontPrimary;
}
.main-navigation .nav_items {
    display: flex;
    gap: 50px;
    font-size: 12px;
}
.main-navigation .nav_items a:hover {
    opacity: 0.5;
    color: #282829;
}

/* HERO */

.hero {
    padding: 100px 0;

}
.hero_container {
    text-align: center;
    color: #000;
    gap: 60px;
    margin-top: 70px;
}

/* CULTURE */

.culture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    color: #000;
}
.culture_container {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}
.culture_right {
    display: flex;
    max-width: 50%;
}
.culture_left {
    align-items: center;
    max-width: 50%;
    background-color: #fafafa;
    padding: 20px;
    border: 1px solid #282829;
}
.culture_left h1 {
    font-family: FontPrimary;
}
.culture_right img {
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border: 0;
}

/* BAYANIHAN */

.bayanihan {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    color: #000;
}
.bayanihan_container {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}
.bayanihan_left {
    display: flex;
    max-width: 50%;
} 
.bayanihan_right {
    align-items: center;
    max-width: 50%;
    background-color:#fafafa;
    padding: 20px;
    border: 1px solid #282829;
}
.bayanihan_right h1 {
    font-family: FontPrimary;
}
.bayanihan_left img {
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border: 0;
}

/* TRADITIONAL ARTS */

.trad {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    color: #000;
}
.trad_container {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}
.trad_right {
    display: flex;
    max-width: 50%;
} 
.trad_left {
    align-items: center;
    max-width: 50%;
    background-color: #fafafa;
    padding: 20px;
    border: 1px solid #282829;
}
.trad_left h1 {
    font-family: FontPrimary;
}
.trad_right img {
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border: 0;
}

/* RELIGOUS PRACTICE */

.rel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    color: #000;
}
.rel_container {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}
.rel_left {
    display: flex;
    max-width: 50%;
} 
.rel_right {
    align-items: center;
    max-width: 50%;
    background-color: #fafafa;
    padding: 20px;
    border: 1px solid #282829;
}
.rel_right h1 {
    font-family: FontPrimary;
}
.rel_left img {
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border: 0;
}


/* FOOTER */

.footer {
    padding: 20px 0;
    background-color: #ffffff;
}
.footer_container {
    color: #000;
    text-align: center;
}
.footer_container h3 {
    font-family: FontPrimary;
    text-transform: uppercase;
    font-size: 20px;
}